name: Post welcome comment
on:
  pull_request:
    types: [opened]
permissions:
  pull-requests: write
jobs:
  welcome:
    name: Welcome new contributors
    runs-on: ubuntu-latest
    steps:
      - name: Post welcome comment
        uses: skills/exercise-toolkit/actions/welcome-comment@v0.6.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          welcome-message-file: exercise-toolkit/markdown-templates/welcome-comments/new-contributor-welcome.md
          new-contributor-label: new-contributor
